.system-nimble .nimble-sheet .nimble-code-block {
    flex-shrink: 0;
    min-height: var(--nimble-code-editor-min-height, 10rem);
    padding: var(--nimble-code-editor-padding, 0.5rem);
    font-family: var(--nimble-mono-font);
    font-size: var(--nimble-sm-text);
    color: var(--nimble-code-editor-text-color);
    border: 1px solid hsl(41, 18%, 54%);
    border-radius: 4px;
    background: var(--nimble-code-editor-background-color);
    resize: none;

    &__text-area {
        height: auto;
        min-height: 0;
        /* min-height: var(--nimble-code-editor-min-height, 14rem); */
        border: 1px solid hsl(41, 18%, 54%);
        resize: none;

        &:focus {
            box-shadow: none;
        }
    }

    &--expanded {
        --nimble-code-editor-min-height: 25rem;
        --nimble-code-editor-padding: 1rem;
    }

    &--rule {
        display: flex;
        flex-direction: column;
    }

    &:focus {
        box-shadow: none;
    }
}
