.system-nimble .nimble-sheet .nimble-document-card {
  --nimble-heading-color: var(--nimble-card-text-color);

  display: grid;
  grid-template-areas:
    "img name configureButton deleteButton"
    "img meta configureButton deleteButton";
  grid-template-columns: 2rem 1fr max-content max-content;
  grid-template-rows: repeat(2, max-content);
  align-items: center;
  gap: 0.125rem 0.5rem;
  margin: 0;
  background: var(--nimble-card-background-color);
  border: 1px solid var(--nimble-card-border-color);
  border-radius: 4px;
  box-shadow: var(--nimble-box-shadow);
  color: var(--nimble-card-text-color);
  padding: 0;
  padding-inline-end: 0.5rem;
  overflow: hidden;
  cursor: pointer;
  transition: var(--nimble-standard-transition);

  &--character-creator {
    --nimble-card-image-filter: grayscale(60%);
    --nimble-card-image-height: 2.5rem;
    --nimble-card-image-width: 2.5rem;
    --nimble-card-text-color: var(--nimble-dark-text-color);
    --nimble-heading-size: var(--nimble-sm-text);
    --nimble-heading-weight: 500;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2.5rem 1fr;
    height: 2.5rem;

    &:hover {
      --nimble-card-border-color: var(--nimble-accent-color);
      --nimble-card-text-color: var(--nimble-light-text-color);
      --nimble-card-background-color: hsla(var(--nimble-accent-color-values), 0.8);
      --nimble-card-image-filter: none;

      color: var(--nimble-card-text-color);
      box-shadow: var(--nimble-box-shadow);
    }

    &:active,
    &:focus {
      --nimble-card-border-color: var(--nimble-accent-color);

      box-shadow: var(--nimble-box-shadow);
      outline: none;
    }
  }

  &--class {
    --nimble-card-image-height: 6rem;
    --nimble-card-image-width: 6rem;
    --nimble-heading-size: var(--nimble-lg-text);

    justify-items: center;
    align-items: center;
    grid-template-areas:
      "img name"
      "img description"
      "img difficulty";
    grid-template-columns: 6rem 1fr;
    grid-template-rows: max-content 2.25rem max-content;
    gap: 0.25rem 0.5rem;
    height: 6rem;
  }

  &--no-image {
    grid-template-areas:
      "name configureButton deleteButton"
      "meta configureButton deleteButton";
    grid-template-columns: 1fr max-content max-content;
    padding: 0.375rem 0.5rem;
  }

  &--no-meta {
    --nimble-document-card-name-alignment: "center";

    grid-template-areas: "img name configureButton deleteButton";
    grid-template-rows: max-content;
  }

  &--no-meta.nimble-document-card--character-creator {
    grid-template-areas: "img name";
  }

  &--no-meta.nimble-document-card--no-image {
    grid-template-areas: "name configureButton deleteButton";
  }

  &--selected {
    --nimble-card-border-color: var(--nimble-light-text-color);
    --nimble-card-text-color: var(--nimble-light-text-color);
    --nimble-card-background-color: var(--nimble-accent-color);
    --nimble-card-image-filter: none;
  }

  &--selected-option-summary {
    --nimble-document-card-name-alignment: "center";
    --nimble-card-image-height: 3rem;
    --nimble-card-image-width: 3rem;
    --nimble-card-text-color: var(--nimble-dark-text-color);
    --nimble-heading-size: var(--nimble-lg-text);
    --nimble-heading-weight: 700;

    height: 3rem;
    width: fit-content;
    gap: 0.75rem;
    grid-template-areas: "img name configureButton";
    grid-template-columns: 3rem 1fr max-content;
    grid-template-rows: max-content;
    padding-inline-end: 0.75rem;
  }

  &--selected-language-summary {
    --nimble-card-border-color: hsl(41, 18%, 54%);
    --nimble-document-card-name-alignment: "center";
    --nimble-heading-size: var(--nimble-lg-text);
    --nimble-heading-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 0.75rem;
    cursor: auto;

    &:hover {
      --nimble-card-border-color: hsl(41, 18%, 54%);
      --nimble-card-text-color: var(--nimble-dark-text-color);

      background: transparent;
    }
  }

  &__complexity {
    grid-area: difficulty;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    line-height: 1;
    padding-block-end: 0.25rem;
  }

  &__description {
    grid-area: description;
    flex-grow: 1;
    line-height: 1.15rem;
    align-self: baseline;

    *:first-child {
      margin-block-start: 0;
    }

    *:last-child {
      margin-block-end: 0;
    }
  }

  &__header {
    display: contents;
  }

  &__img {
    grid-area: img;
    height: var(--nimble-card-image-height, 2rem);
    width: var(--nimble-card-image-width, 2rem);
    border: 0;
    border-right: 1px solid var(--nimble-card-border-color);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.7);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    filter: var(--nimble-card-image-filter);

    &[src$=".svg" i] {
      padding: 0.2rem;
    }
  }

  &__marker-group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__marker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.875rem;
    width: 0.875rem;
    color: var(--nimble-light-text-color);
    font-size: var(--nimble-xs-text);
    font-weight: 900;
    line-height: 0;
    background: var(--nimble-hp-bar-background);
    border-radius: 4px;

    &--spell-school {
      background: transparent;
      margin-inline-end: 0.125rem;
      color: var(--nimble-medium-text-color);
    }
  }

  &__meta {
    grid-area: meta;
    align-self: start;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--nimble-xs-text);
    line-height: 1;
  }

  &__meta-icon {
    color: var(--nimble-hp-bar-background);
  }

  &__name {
    grid-area: name;
    align-self: var(--nimble-document-card-name-alignment, end);
    line-height: 1;
    color: var(--nimble-card-text-color);
  }
}
