.nimble-sheet .nimble-primary-navigation {
  grid-area: primaryNavigation;
  display: grid;
  grid-template-areas: "current list";
  grid-template-columns: min-content 1fr;
  grid-template-rows: 100%;
  column-gap: 0.5rem;
  align-items: center;
  flex-grow: 0;
  position: relative;
  z-index: 1;

  /** 21px **/
  height: 1.3125rem;
  margin: 0.75rem 0.25rem;
  padding-inline: 0.5rem;
  color: var(--nimble-navigation-text-color);
  font-size: var(--nimble-md-text);
  background: var(--nimble-navigation-background-color);
  border: 1px solid var(--nimble-navigation-border-color);
  box-shadow: var(--nimble-navigation-box-shadow);
  border-radius: 4px;

  &--condense-navigation {
    --nimble-primary-navigation-icon-size: var(--nimble-xs-text);
    --nimble-primary-navigation-item-dimensions: 1.375rem;
    --nimble-primary-navigation-list-gap: 0.75rem;
  }

  &:has(+ .nimble-secondary-navigation) {
    border-radius: 3px 3px 0 0;
  }

  &__current-tab-label {
    grid-area: current;
    opacity: 0;
    font-size: var(--nimble-sm-text);
    font-weight: 600;

    &--active {
      opacity: 1;
    }
  }
}

.nimble-sheet .nimble-primary-navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--nimble-primary-navigation-list-gap, 1rem);
  grid-area: list;
  margin: 0;
  margin-inline-start: 0.5rem;
  padding: 0;
  list-style: none;

  &__item {
    display: contents;
  }
}
