.nimble-sheet .nimble-saving-throw {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  cursor: pointer;

  transition: var(--nimble-standard-transition);

  &:hover {
    color: var(--nimble-dark-text-hover-color);
    text-shadow: 0 0 3px var(--nimble-dark-text-glow-color);
  }

  &:not(:last-child) {
    border-right: 1px dotted #646d84;
    padding-inline-end: 0.75rem;
  }

  &__heading {
    display: initial;
    position: relative;
    margin: 0;
    font-size: var(--nimble-sm-text);
    font-weight: bold;
    text-align: center;
    text-shadow: inherit;
    text-transform: uppercase;
    color: inherit;
    border: 0;
  }

  &__value {
    margin: 0;
    padding: 0;
  }
}
