.nimble-sheet .nimble-skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-block-start: 0.125rem;
  font-size: var(--nimble-sm-text);
  list-style: none;

  &--compact {
    gap: 0 0.5rem;
  }

  &--compact,
  &--character-creator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, max-content);
    grid-auto-flow: column;
  }

  &--character-creator {
    gap: 0 1rem;
  }

  &--locked {
    pointer-events: none;
  }

  &__item {
    display: contents;

    &:not(:first-child) {
      --nimble-skill-padding-block-start: 0.125rem;
    }

    &:not(:last-child) {
      --nimble-skill-padding-block-end: 0.125rem;
    }

    &:not(:first-child):not(:last-child) {
      --nimble-skill-padding-block-start: 0.125rem;
      --nimble-skill-padding-block-end: 0.125rem;
    }

    &--compact {
      &:first-child {
        --nimble-skill-padding-block-start: 0.125rem;
      }

      &:nth-child(5) {
        --nimble-skill-margin-block-end: 0;
        --nimble-skill-border: 0;
      }

      &:last-child {
        --nimble-skill-margin-block-end: 0;
      }
    }

    &--compact.nimble-skills__item--show-passive {
      --nimble-skill-padding-inline-start: 0;
      --nimble-skill-padding-inline-end: 0;

      &:not(:first-child):not(:last-child) {
        --nimble-skill-padding-block-start: 0.125rem;
        --nimble-skill-padding-block-end: 0.125rem;
      }
    }
  }
}
